body {
  margin: 0;
  padding: 0;
  background: #101010;
}
.Contador {
  text-align: center;
  background: #101010;
}

.Contador div {
  display: inline-block;
  font-size: 55px;
  line-height: 65px;
  background-color: #101010;
  color: white;
  padding: 10px;
  margin: 3px;
}
